body{
    margin:0;
	padding:0;
    font-family: Arial, sans-serif;
	/* background-image: url('https://vcdn-dulich.vnecdn.net/2022/09/24/-8995-1663985544.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
html{
    height: 100%;
}  

.logo{
	margin-top: -10px;
}
.box1{
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	height: 60px;
}
li{
	list-style: none;
	justify-content: space-around;
}
a{
	text-decoration: none;
	color:rgb(59 130 246);
	display: block;
	padding:17.5px;
	transition: opacity 0.2 ease;
	font-size: 21px;
}
a:hover{
	background-color: rgb(59 130 246);
	color:#fff
}
.list{
	display: flex;
	margin: 0px;
}
.box3 {
    margin: 100px auto;
    background-color: rgba(241, 238, 238, 0.89);    
}
.th, td {   
    padding: 6px 10px;
}
.th {
    background-color:rgb(106 111 117);
    color: #fff;
}
.td{
    border-top:1.7px solid black;
}
.box5{
	background-color: rgb(165, 129, 63);
	width: 300px;
	height: 65px;
	padding: 30px;
	text-align: center;
	color: #fff;
	font-size: 24px;
}
.box2{
	background-color: #469f67;
	width:300px;
	height:65px;
	padding: 30px;
	text-align: center;
	color: #fff;
	font-size: 24px;
}
.box4{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
h1{
    background-color: rgb(126, 161, 195);
    padding: 20px ;
    margin:0px;
}
h3{
	font-size: 26px;
	margin: 15px;
}
th{
    background-color: #dddaeb; 
    color:black;
    padding: 20px;
    /* border:1px solid black; */
    
}   
td{
    background-color: rgb(166, 231, 231);
    padding: 10px;
    border: 1px solid black;
}
table{
	border-collapse: collapse;
	display: flex;
	justify-content: center;
}
h4{
	margin: 24px 0px 10px 0 ;
	font-size: 27px;
	text-align: center;
}
.note0{
    background-color:rgb(126, 161, 195);
	width: 100%;
    padding: 30px;
	text-align: center;
    position: fixed;
    bottom:0;

}















