html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: orange;
}

.logo {
    margin-top: -10px;
}

.box2 {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    height: 60px;
}

h1 {
    background-color: orange;
    font-size: 20px;
    padding: 10px 220px 10px 10px;
    border-radius: 5px;
    color: #fff;
}
h2{
    margin:10px 0 12px 10px;
    /* text-align: center; */
}
.p3 {
    background-color: #fff;
    color: orange;
    border: 2px solid orange;
}

li {
    list-style: none;
    justify-content: space-around;
}

.list {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(59 130 246);
    display: block;
    padding: 17.5px;
    transition: opacity 0.2 ease;
    font-size: 21px;
}

a:hover {
    background-color: rgb(59 130 246);
    color: #fff;
    border-radius: 10px;
}

.item {
    display: inline-block;
    padding: 0px;
    transition: opacity 0.2 ease;

}



.canchinh4 {
    background-color: orange;
    margin: 50px 100px 0 100px;
}


input {
    border: 0px;
    font-size: 20px;
    color: orange;
    /* text-align: center; */
  
    
}



.note3{
   /* text-align: center; */
   margin-left: 50px;
}
.canchinh5{
    border: 1px solid black;
    margin: 0px 90px;
}
.canchinh3 {
    background-color: #fff;

}

.box4 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #fff;
}

.show {
    width: 25%;
    margin: 10px 470px;
    padding: 10px 85px;
    border-radius: 10px;
    border-style: solid;
    background-color: transparent;
    color: #fff;
    background-color: orange;
    cursor: pointer;
    transition: opacity 0.2 ease;
    font-size: 16px;
}

.show:hover {
    opacity: 0.8;
    background-color: #fff;
    color: rgb(59 130 246);
}