html{
    height: 100%;
}  
body{
    margin:0;
	padding:0;
    font-family: Arial, sans-serif;
	background-image: url('https://vcdn-vnexpress.vnecdn.net/2022/05/27/Anh-1-7673-1653619050-4228-1653624413.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box1{
    display: flex;
    justify-content: space-between; 
}
.list1{
    margin:0;
}
.item1{
    list-style: none;
    display: inline-block;
    margin:25px 230px;
    cursor: pointer;
}
.mau{
    color:brown; 
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color:rgb(59 130 246) ;
}
.box2{    
    background-color:rgb(59 130 246);
    display: flex;
    justify-content: space-between;  
    border-radius: 10px;     
    margin:-15px 190px ;
}
.the{
    list-style: none;
    position: absolute;
    background-color: #fff;
    display: none;
    text-decoration: none;
    padding:6px 0px; 
}
.item:hover .the {
    display:block;
    margin: 10px -10px;
}
.menu{
    margin: 10px 13px;  
    transition: opacity 0.2 ease;
    padding-right: 0px;
}
.menu:hover{
    border-bottom: 4px solid rgb(59 130 246);
}
.list{
    cursor: pointer;
    margin: 0px; 
    margin-right: 40px;
}
.item{
    color: #fff;
    display: inline-block;
    margin:0 8px;
    transition: opacity 0.2 ease;
    padding:11px;
    font-size: 19px;
}
.item:hover{
    opacity: 0.8;
    background-color: #fff;
    color:rgb(59 130 246) ;
}
.shadow{
    background-color:rgba(0, 0, 0, 0.6);
	padding:30px;
	border-radius: 18px;
	margin: 120px 120px 0 120px;
} 
.p1{
    border-radius: 30%;
    padding: 30px;
    color: blue;
    display: flex;
    justify-content: center;
    font-size: 26px; 
}
.p2{
    display: flex;
    justify-content: center;
}
.fa-solid{
    color: red;
    margin-right: 10px;
}
.box5{
    padding: 8px;
}
/* ================================================================================ */
.box3 {
    border-collapse: collapse;   
    margin: 8px auto;
    background-color: rgba(241, 238, 238, 0.89);    
}
.th, td {   
    padding: 12px 18px;
}
.th {
    background-color:rgb(106 111 117);
    color: #fff;
}
.td{
    border-top:1.7px solid black;
    
}
.tick{
    cursor: pointer;
}

