html{
    height: 100%;
}  
body{
    margin:0;
	padding:0;
    font-family: Arial, sans-serif;
	
}
.logo{
	margin-top: -10px;
}
.box1{
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	height: 60px;
}
li{
	list-style: none;
	justify-content: space-around;
}
.item1{
    list-style: none;
    display: inline-block;
    margin:25px 230px;
    cursor: pointer;
}
.menu{
	text-decoration: none;
	color:rgb(59 130 246);
	display: block;
	padding:17.5px;
	transition: opacity 0.2 ease;
	font-size: 21px;
}
.menu:hover{
	background-color: rgb(59 130 246);
	color:#fff
}
.list{
	display: flex;
	margin: 0px;
}
table{
    margin:20px;
   display: flex;
   justify-content: center;
   border-collapse: collapse;
   /* background-color: rgb(59 130 246); */
}
a{
    text-decoration: none;
    color: black;
}
th{
    background-color: #dddaeb; 
    color:black;
    padding: 10px;
    border:1px solid black;
    
}   
td{
    background-color: rgb(166, 231, 231);
    padding: 10px;
    border: 1px solid black;
}
h1{
    background-color: rgb(126, 161, 195);
    padding: 20px ;
    margin:0px;
}
.canchinh{
    margin-top: 20px;
    display: flex;
    justify-content:center;
}
.note0{
    background-color:rgb(126, 161, 195);
	width: 100%;
    padding: 30px;
	text-align: center;
    position: fixed;
    bottom:0;

}

