html{
   height: 100%;
}
body{
	margin:0;
	padding:0;
    font-family: Arial, sans-serif;
	background-color: orange;
	
}
.p2{
	color: #FFF;
}
.canchinh2{
	display: flex;
	justify-content: center;
}
.p1{
	margin: 0 0 30px;
	padding :0;
	color: #FFF;	
	text-align: center;
	font-size: 36px;
}
.logo {
    margin-top: -10px;
	list-style: none;
}
.box2 {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    height: 60px;
}
.list {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.item {
    display: inline-block;
    padding: 0px;
    transition: opacity 0.2 ease;
}
.a {
    text-decoration: none;
    color: rgb(59 130 246);
    display: block;
    padding: 17.5px;
    transition: opacity 0.2 ease;
    font-size: 21px;
}

.a:hover {
    background-color: rgb(59 130 246);
    color: #fff;
    border-radius: 10px;
}

.in{
	width: 100%;
	padding:10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none; 
	border-bottom: 1px solid #fff;	
	outline: none;
	background:transparent ;
}
.la{
	padding: 10px 0;
	font-size: 16px;
}	
	

.login-box{
	margin-top: 30px;
	width: 400px;
	padding:40px;
	background-color:rgba(0, 0, 0, 0.7);
	border-radius: 12px 53px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}
.register-box{
	margin-top: 30px;
	width: 400px;
	padding:40px;
	background-color:rgba(0, 0, 0, 0.7);
	border-radius: 12px 53px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}
.box5{
	padding:12px 20px 12px 20px;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 2px;
	border-radius:  5px;
	border-style: solid;
	cursor: pointer;
}
.box5 a{
	text-decoration: none;
}
.box1{
	padding:12px 20px 12px 20px;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 2px;
	border-radius:  5px;
	border-style: solid;
	cursor: pointer;
	transition:  0.5;
	animation: 
		skeleton 1.5s linear infinite   alternate}
@keyframes skeleton{
	0%{
		background: green;

	}
	100%{
		background: aqua;
	}
}
.box1:hover{
	background: aqua;
	opacity: 0.8;
	border-radius:  35px;
	box-shadow: 0 0 5px red,
	0 0 25px red,
	0 0 50px white,
	0 0 100px white;	
}

.box3{
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
