html{
    height: 100%;
}  
body{
    margin:0;
	padding:0;
    font-family: Arial, sans-serif;
	
}
.logo{
	margin-top: -10px;
}
.box1{
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	height: 60px;
}
li{
	list-style: none;
	justify-content: space-around;
}
.menu{
	text-decoration: none;
	color:rgb(59 130 246);
	display: block;
	padding:17.5px;
	transition: opacity 0.2 ease;
	font-size: 21px;
}
.menu:hover{
	background-color: rgb(59 130 246);
	color:#fff
}
.list{
	display: flex;
	margin: 0px;
}
th{
    background-color: #dddaeb; 
    color:black;
    padding: 10px;
    border:1px solid black;
}   
td{
    background-color: rgb(166, 231, 231);
    padding: 10px;
    border: 1px solid black;
}
.canchinh1{
    display: flex;
    justify-content: space-around;
}
table{
    border-collapse: collapse;
    margin-top:25px;
 }
.note1{
    background-color: rgb(126, 161, 195);
    margin:0px;
    display: flex;
    justify-content: space-between;
}
.note2{
    margin-top: 20px;
}
.show {
    padding: 8px ;
    border-radius: 10px;
    border-style: solid;
    background-color: transparent;
    color: #fff;
    background-color: #63adb3;
    cursor: pointer;
    transition: opacity 0.2 ease;
    font-size: 16px;
}

.show:hover {
    opacity: 0.8;
    background-color: #fff;
    color: rgb(59 130 246);
}
a{
    text-decoration: none;
    color: black;
}
.note0{
    background-color:rgb(126, 161, 195);
	width: 100%;
    padding: 30px;
	text-align: center;
    position: fixed;
    bottom:0;

}

















